*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
}
#box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px ;
    text-align: center;
    /* box-shadow: 0 0 500px rgb(112, 24, 24); */
    border-radius: 16px;

    /* background: linear-gradient(to top left , rgba(255, 255, 255, 0.615), black),
    conic-gradient(from 180deg ,black,red, black); */
    /* content area  */
    /* background: linear-gradient( black) content-box,
    conic-gradient(from 180deg ,black,red, black);
    border: 5px solid white;
    margin: 10px; */
    
    background: linear-gradient( rgb(0, 0, 0)) padding-box,
    conic-gradient(from var(--rotate) ,rgb(0, 0, 0),red, black)border-box;

    border: 5px solid rgba(255, 255, 255, 0);
    
    margin: 10px;
    
    animation: bdr 5s  ;
    
    animation-timing-function: linear;
    
    animation-iteration-count: infinite ;
    
    animation-play-state: paused;
    
    border-width:0px ;
    
    transition: all 0.3s ease-in;
    
    box-shadow: 0 0 0px red;
    
    color: red ;
    
    text-shadow:  0 0  0px rgb(52, 135, 203);
}
/* #box:hover{
    animation-play-state: running;
    border-width:  5px;
    box-shadow: 0 0 70px rgb(52, 135, 203);
    color: rgb(52, 135, 203) ;
    text-shadow: 0 0  1500px rgb(52, 135, 203);
} */
 #box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 70px rgb(52, 135, 203);
    color: white;
    text-shadow:
        0 0 8px rgb(52, 135, 203),
        0 0 16px rgb(52, 135, 203),
        0 0 32px rgb(52, 135, 203);
}

#box img{
    width: 100%;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes bdr{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}
#box1{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px ;
    text-align: center;
    /* box-shadow: 0 0 500px rgb(112, 24, 24); */
    border-radius: 16px;

    /* background: linear-gradient(to top left , rgba(255, 255, 255, 0.615), black),
    conic-gradient(from 180deg ,black,red, black); */
    /* content area  */
    /* background: linear-gradient( black) content-box,
    conic-gradient(from 180deg ,black,red, black);
    border: 5px solid white;
    margin: 10px; */
    
    background: linear-gradient( rgba(0, 0, 0, 0)) padding-box,
    conic-gradient(from var(--rotate) ,rgb(0, 0, 0),rgba(255, 0, 0, 0.711), rgb(0, 0, 0))border-box;

    border: 5px solid rgba(255, 255, 255, 0);
    
    margin: 10px;
    
    animation: bdr 5s  ;
    
    animation-timing-function: linear;
    
    animation-iteration-count: infinite ;
    
    animation-play-state: paused;
    
    border-width:0px ;
    
    transition: all 0.3s ease-in;
    
    box-shadow: 0 0 0px red;
    
    color: red ;
    
    text-shadow:  0 0  0px rgb(52, 135, 203);
}
/* #box:hover{
    animation-play-state: running;
    border-width:  5px;
    box-shadow: 0 0 70px rgb(52, 135, 203);
    color: rgb(52, 135, 203) ;
    text-shadow: 0 0  1500px rgb(52, 135, 203);
} */
 #box1:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 70px rgb(52, 135, 203);
    color: white;
    text-shadow:
        0 0 8px rgb(52, 135, 203),
        0 0 16px rgb(52, 135, 203),
        0 0 32px rgb(52, 135, 203);
}

#box1 img{
    width: 100%;
}