*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
/* box shadox  */
.box1{
    height: 200px;
    width: 400px;
    background-color: rgb(106, 33, 33);
    /* box-shadow: x / y /  spread radius  / color ; */
    /* box-shadow:   30px 30px 10px rgba(255, 0, 0, 0.59); */
    box-shadow:  inset 30px 30px 10px rgba(255, 0, 0, 0.59);
}
h1{
    font-size: 3rem;
    color: white;
    text-shadow:5px 5px 10px blue;
}
/* conic gradent  */
.box2{
    height: 200px;
    width: 400px;
    /* background: conic-gradient(rgb(255, 237, 237), red, rgb(0, 0, 0)); */
    /*  from se rotatin of the piller  */
    background: conic-gradient( from 45deg,rgb(255, 237, 237), red, rgb(0, 0, 0));
}
/* keyframes  */
@keyframes changeBackgroundColor{
    from{
        background-color: white;
        border-radius: 0px;
        scale: 1;
        transform: translateX(0px);
    }
    to{ 
        background-color: red;
        border-radius: 50px;
        scale: 0.7;
          transform: translateX(100px);
    }
}
.box3{
    height: 200px;
    width: 400px;
    /* isme animation aage continue nahi hoga vo disapper ho jayega  */
    /* animation: changeBackgroundColor 5s; */
    
    /* forwards -->Iss me aimation ka last color continue hoga   */
    /* animation: changeBackgroundColor 5s forwards; */

/*  infinite --> se animation hota rahega bar bar same style m   */
    /* animation: changeBackgroundColor 5s infinite forwards; */

/*  timing --> se animation hota rahega bar bar same style m sirif 5 bar   */
    /* animation: changeBackgroundColor 5s  5 forwards; */

/*  alternate --> se animation hota rahega bar bar animation k style m  */
    animation: changeBackgroundColor 5s infinite forwards alternate;
}
/* discrerte properties in css ---> display:none / display , visibility :hidden / visibility */


/* @property  */
/*  @property --> is use to create varieables 
it is k/a custom property  */
@property --bgcolor{
    /* syntax : initial value , inherits */
    syntax: "<color>";
    initial-value:rgb(104, 89, 89) ;
    inherits: false;
}
@keyframes color{
    from{
        --bgcolor:red;
        scale: 1;
        border-radius: 50%;
        transform: translateY(50%);
    }
    to{
        --bgcolor:rgb(29, 25, 161);
    }
}
.box4{
    height: 200px;
    width: 400px;
   background-color: var(--bgcolor);
   animation: color 3s infinite alternate;
}